<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div>
      <% flash.each do |key, value| %>
        <div style="color: blue;">
        flash: <%= key %> : <%= value %>
        <div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? %>
      <hr>
      <div style="color: green;">
        <%= debug(params) %>
      </div>
      <hr>
    <% end %>
  </body>
</html>
